<div class="container">

    <div class="localizacion">

        <form novalidate [formGroup]="formulario" (ngSubmit)="onSubmit()">
            <label>Punto de partida</label>
            <input type="text" #inputPartida class="iPlaces" formControlName="puntoPartida">
            <label>Punto de destino</label>
            <input type="text" #inputDestino class="iPlaces" formControlName="puntoDestino">
            <label for="">Hora de salida</label>
            <input type="time">
        </form>

    </div>
    <div #googleMap class="mapa"></div>
    <input type="submit" value="Enviar">

</div>