* {

    font-family: Arial;
}

.container {

    display: flex;
    flex-direction: row;
}

.mapa {
    /* width: 400px; */
    height: 600px;
    width: 60%;
}

.localizacion {

    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}

.localizacion input {

    width: 300px;
    margin: 2em;
    padding: .8rem;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 1.2em;

}

