/* You can add global styles to this file, and also import other style files */
* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}




html, body {

   overflow-x: hidden;
}

.flex {

   display: flex;
}

.row {

   flex-direction: row;
}

.column {

   flex-direction: column;
}

.wrap {

   flex-wrap: wrap;
}

.no-wrap {

   flex-wrap: nowrap;
}

.center-horizontal {
   
   align-items: center;
   align-content: center;

}

.center-vertical {

   justify-content: center;
}

.center-start {

   align-items: center;
   justify-content: flex-start;

}

.end {

   justify-content: flex-end;
} 

:root {

   --rojo : rgb(226, 62, 60);
   --gris: rgb(34, 37, 42);
}

h2, p {

   font-family: 'Roboto', sans-serif;
   
}

h2 {

   font-size: 3em;
}

h3 {

   text-align: center;
   font-size: 5em;
   color: var(--rojo);
   font-family: 'Roboto', sans-serif;
   
}


p {

   font-size: 1.5em;
   line-height: 2;
}

a {

   font-family: 'Roboto', sans-serif;
   text-decoration: none;
   color: black;
}

.boton {

   font-size: .6em;
   margin: 0 auto;
   display: block;
   text-align: center;
   background-color: white;
   width: 40%;
   border-radius: 25px;
   border: 2px solid var(--rojo);
   transition: .5s;
   
   
}

.boton p {

   font-size: 1em;
   
   color: var(--rojo);
   transition: .5s;
}

.boton:hover {

   cursor: pointer;
   background-color: var(--rojo);
   
}

.boton:hover p {
   color: white;

   
}



/*-----barra navegacion-----*/


header div {

   justify-content: center;
   display: flex;
}


.barras {
   
   display: none;
   cursor: pointer;
   position: fixed;
   top: 0px;
   right: 20px;
   font-size: 4em;
   color: black;
   z-index: 999;
}


#logo {

   margin-top: 10px;
   margin-bottom: 20px;
}

nav {

   z-index: 9999;
   display: block;
   
}

nav li {

   position: relative;
}

nav ul {

   height: 70px;
}

nav a::before {

   content: '';
   display: inline-block;
   height: 3px;
   width: 100%;
   background-color: #fcd659;
   position: absolute;
   top: 0;
   width: 0%;
   transition: all ease-in-out .15s;

}

nav a:hover::before {

   width: 70%;
   
}

nav a:hover {

   text-decoration: none;
   color: #f5e6b5;
}


#menu {

   display: flex;
   display: -webkit-flex;
   display: -ms-flexbox;
   flex-direction: row;
   justify-content: flex-end;
   text-transform: uppercase;
   background-color: var(--gris);
   width: 100%;
   position: fixed;
   z-index: 50;
}

#menu img {

   width: 20px;
   height: 20px;
   padding-top: 20px;
   opacity: 0;


}

.titulo {

   position: fixed;
   font-size: 1em;
   z-index: 999;
   color: white;
   text-align: center;
   z-index: 999;
   margin: auto;
   display: block;
   padding-top: 10px;

}

.titulo p {

   font-family: 'Dancing Script', cursive;

}

nav li {
   
   list-style: none;
   padding: 25px;

}

nav a {

   color: white;
   list-style: none;
   text-decoration: none;
   font-family: 'Lato', sans-serif;
   letter-spacing: 2px;
   font-size: 1em;
      font-weight: 400;

}


/*----hero-----*/

/* #car {

   position: fixed;
   top: 79%;
   left: 5%;
   width: 100px;
}*/



.carril.uno img:first-child{

   position: absolute;
   left: 5%;
   animation: moverUno 1.5s ease-out 1 normal forwards;
}

.carril.uno img:nth-child(2){

   position: absolute;	
   left: 5%;
   animation: moverDos 1.5s 1s ease-out 1 normal forwards;
}

.carril.uno img:nth-child(3){

   position: absolute;
   left: 5%;
   animation: moverTres 1.5s 2s ease-out 1 normal forwards;
}

.carril.uno img:nth-child(4){

   position: absolute;
   left: 5%;
   animation: moverCuatro 1.5s 3s ease-out 1 normal forwards;
}

.carril.uno img:nth-child(5){

   position: absolute;
   left: 5%;
   animation: moverCinco 1.5s 4s ease-out 1 normal forwards;
}

.carril.dos img:first-child{

   position: absolute;

   left: 15%;
   animation: moverUno 1.5s 2s ease-out 1 normal forwards;
}

.carril.dos img:nth-child(2){

   position: absolute;

   left: 15%;
   width: 6%;
   animation: moverDos 1.5s 3s ease-out 1 normal forwards;
}

.carril.dos img:nth-child(3){

   position: absolute;

   left: 15%;
   animation: moverTres 1.5s 4s ease-out 1 normal forwards;

}

.carril.dos img:nth-child(4){

   position: absolute;
   
   left: 15%;
   animation: moverCuatro 1.5s 5s ease-out 1 normal forwards;

}

.carril.dos img:nth-child(5){

   position: absolute;
   left: 15%;
   animation: moverCinco 1.5s 6s ease-out 1 normal forwards;

}

@keyframes moverUno {

   from {

       bottom: 100%;

   }

   to {

       bottom: 0%;
   }
}

@keyframes moverDos {

   from {

       bottom: 100%;
   }

   to {

       bottom: 18%;
   }
}

@keyframes moverTres {

   from {

       bottom: 100%;
   }

   to {

       bottom: 35%;
   }
}

@keyframes moverCuatro {

   from {

       bottom: 100%;
   }

   to {

       bottom: 55%;
   }
}

@keyframes moverCinco {

   from {

       bottom: 200%;
   }

   to {

       bottom: 75%;
   }
}



#hero {

   
   height: 100vh;
   position: relative;

}

/*#hero:after {

   content: "";
   width: 100%;
   height: 100vh;
   position: absolute;
   top: 0;
   left: 0;
   background: linear-gradient(180deg, transparent, white); 
   opacity: 1;
}*/


.cabecera {

   font-family: 'Anton', sans-serif;
   
   

}

.cabecera p {

   font-size: 1.8em;

}


h1 {

   
   font-size: 10em;
   line-height: 1;
   color: var(--rojo);
   margin-bottom: -20px;

}

h1 span {
   
   color: var(--gris);

}




/*.separador {

   width: 100%;
   background-color: var(--gris);
   height: 70px;

}*/


/*----intro-----*/


#intro {


   padding-top: 150px;
   padding-bottom: 150px;
}

.contenedorIntro {

   margin: 0 auto;
   width: 100%;
}

.contenedorIntro  div {

   padding: 5%;
}


.contenedorIntro h2 {

   padding-bottom: .7em;
}





/*----localizacion-----*/

#localizacion div {

   margin: 7%;
}

/*-----animacion coches------*/




