<section id="hero" class="flex center-horizontal center-vertical">


    <div class="carretera flex row no-wrap">

        <div class="carril uno flex column">

            <img src="assets/img/coche.png">

            <img src="assets/img/cocheAzul.png">

            <img src="assets/img/cocheNaranja.png">

            <img src="assets/img/cocheBlanco.png">

            <img src="assets/img/camioneta.png">


        </div>

        <div class="carril dos flex column">

            <img src="assets/img/cocheAzul.png">

            <img src="assets/img/camion.png">

            <img src="assets/img/cocheBlanco.png">

            <img src="assets/img/cocheNaranja.png">

            <img src="assets/img/camioneta.png">


        </div>

    </div>

    <div class="cabecera">

        <h1>Jam<br><span>Out</span></h1>
        <p>app para acabar con los atascos</p>
        <div>

            <a class="boton" href="inscripcion.html" target="_blank">
                <p>Regístrate</p>
            </a>

        </div>


    </div>

</section>