
img {

    width: 80px;
}


.carril.uno img:first-child{

    bottom: 120%;
    left: 5%;
    animation: moverUno 1.5s ease-out  normal forwards;
 }
 
 .carril.uno img:nth-child(2){
 
    bottom: 120%;
    left: 5%;
    animation: moverDos 1.5s 1s ease-out  normal forwards;
 }
 
 .carril.uno img:nth-child(3){
 
    bottom: 120%;
    left: 5%;
    animation: moverTres 1.5s 2s ease-out  normal forwards;
 }
 
 .carril.uno img:nth-child(4){
 
    bottom: 120%;
    left: 5%;
    animation: moverCuatro 1.5s 3s ease-out  normal forwards;
 }
 
 .carril.uno img:nth-child(5){
 
    bottom: 120%;
    left: 5%;
    animation: moverCinco 1.5s 4s ease-out  normal forwards;
 }
 
 .carril.dos img:first-child{
 
   
    bottom: 120%;
    left: 15%;
    animation: moverUno 1.5s 2s ease-out  normal forwards;
 }
 
 .carril.dos img:nth-child(2){
 
    
    bottom: 120%;
    left: 15%;
    width: 6%;
    animation: moverDos 1.5s 3s ease-out  normal forwards;
 }
 
 .carril.dos img:nth-child(3){
 
    
    bottom: 120%;
    left: 15%;
    animation: moverTres 1.5s 4s ease-out  normal forwards;
 
 }
 
 .carril.dos img:nth-child(4){
 
   
    bottom: 120%;
    left: 15%;
    animation: moverCuatro 1.5s 5s ease-out  normal forwards;
 
 }
 
 .carril.dos img:nth-child(5){
 
    bottom: 120%;
    left: 15%;
    animation: moverCinco 1.5s 6s ease-out  normal forwards;
 
 }
 
 @keyframes moverUno {
 
    from {
 
        bottom: 120%;
        
 
    }
 
    to {
 
        bottom: 10%;
    }
 }
 
 @keyframes moverDos {
 
    from {
 
        bottom: 120%;
    }
 
    to {
 
        bottom: 30%;
    }
 }
 
 @keyframes moverTres {
 
    from {
 
        bottom: 120%;
    }
 
    to {
 
        bottom: 48%;
    }
 }
 
 @keyframes moverCuatro {
 
    from {
 
        bottom: 120%;
    }
 
    to {
 
        bottom: 68%;
    }
 }
 
 @keyframes moverCinco {
 
    from {
 
        bottom: 120%;
    }
 
    to {
 
        bottom: 90%;
    }
 }
 
 