<div class="container">

    <div>
        <img src="">
    </div>

    <div>

        <div>
            <div class="contenedor">
                <p *ngIf="formulario.untouched">Rellena el formulario siguiente</p>
                <form novalidate [formGroup]="formulario" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="">Nombre</label>
                        <input type="text" class="form-control" formControlName="nombre">
                        <p class="error"
                            *ngIf="formulario.controls['nombre'].errors?.required && formulario.controls['nombre'].touched">
                            El campo nombre es requerido
                        </p>
                        <p class="error"
                            *ngIf="formulario.controls['nombre'].errors?.maxlength && formulario.controls['nombre'].touched">
                            El campo nombre debe tener máximo
                            {{formulario.controls['nombre'].errors?.maxlength.requiredLength}}
                            caracteres. Tú has insertado
                            {{formulario.controls['nombre'].errors?.maxlength.actualLength}}
                            caracteres.
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="">Apellidos</label>
                        <input type="text" class="form-control" formControlName="apellidos">
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="email" class="form-control" formControlName="email">
                    </div>
                    <div class="form-group">
                        <label for="">Fecha de nacimiento</label>
                        <input type="date" class="form-control" formControlName="fechanacimiento">
                    </div>
                    <div class="form-group">
                        <label for="">Password</label>
                        <input type="password" class="form-control" formControlName="password">
                    </div>
                    <div class="form-group">
                        <label for="">Repite Password</label>
                        <input type="password" class="form-control" formControlName="password_repeat">
                        <p class="error" *ngIf="formulario.errors?.passwordvalidator">
                            ⚠️ {{formulario.errors.passwordvalidator }} ⚠️
                        </p>
                    </div>

                    <input type="submit" value="Enviar">

                </form>
            </div>
            <!-- <div class="col-4">
                <ul>
                    <li [ngClass]="{ 'tachado': !formulario.controls['nombre'].errors?.required }">
                        El campo nombre es requerido
                    </li>
                    <li [ngClass]="{ 'tachado': !formulario.controls['nombre'].errors?.maxlength }">
                        El campo nombre debe tener como máximo 15 caracteres
                    </li>
                </ul>
            </div> -->
        </div>



    </div>



</div>